
.about-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 2em;
    margin-bottom: 5em;
}
.image-about-container{
    display: flex;
}

.img-about {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

.about-title{
    font-family: var(--headlines);
    color: var(--gold-color);
    font-weight: 600;
    text-transform: uppercase;
    gap: 0.7em;
    font-size: 0.9rem;
}
.about-subtitle{
    font-weight: var(--headlines);
    color: var(--grey-color-dark);
    font-size: 1.3rem;
    text-transform:uppercase;
    font-weight: 700;
}
.about-subtitle > span{
    display: block;
}
 .about-text{
   margin-bottom: 2.5em;
}
.about-calender-container{
    display: flex;
    flex-direction: row;
    background-color: var(--gold-color);
    gap: 1em;
    width: 60%;
    padding: 1em;
    align-items: center;
}
.fa-calendar{
    font-size: 1.6rem;
    height: 3%;
    border-radius: 50%;
    padding: 0.5em;
    color: var(--white-color);
    background-color: var(--black-color);

}
.calender-text {
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 600;
}
.years{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1em;
}
.experience{
    display: block;
    line-height: 0.5em;
    font-size: 0.8rem;
}

@media screen and (min-width: 740px){
    .about-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 4em auto;
        gap: 5em;
    }
    .text-about-container{
        width: 80%;
    }
    .about-text{
        font-size: 0.9rem;
    }
    .img-about{
        width: 35vh;
        height: 50vh;
    }
    .about-calender-container{
        width: 70%;
    }
    .about-subtitle{
        font-size: 1.2rem;
    }
    .fa-calendar{
        font-size: 1.8rem;
        height: 3%;
        border-radius: 50%;
        padding: 0.5em;
    }
    .years{
        font-size: 1.5rem;
    }
    .experience{
        font-size: 0.8em;
    }
}
@media screen and (min-width: 850px){
    .about-title{
        font-size: 1.1rem;
    }
    .about-subtitle{
        font-size: 1.7em;
    }   
}
@media screen and (min-width: 950px) {
    .img-about{
        width:50vh;
        height: 60vh;
    }
    .about-title{
        font-size: 1.2rem;
    }
    .about-subtitle{
        font-size: 1.7em;
    }   
}

@media screen and (min-width: 1050px){
    .text-about-container{
        width: 70%
    }
    .about-subtitle{
        font-size: 1.8em;
    }
}
@media screen and (min-width: 1150px){
    .text-about-container{
        width: 50%
    }
    .about-title{
        font-size: 1.3rem;
    }
    .about-subtitle{
        font-size: 2em;
    }
}
@media screen and (min-width: 1300px){
    .img-about{
        width:50vh;
        height: 70vh;
    }
    .about-container{
        width: 80%;
    }
    .about-text{
        max-width: 90%;
    }
    .about-title{
        font-size: 1.3rem;
    }
    .about-subtitle{
        font-size: 2.1em;
    }
    .fa-calendar{
        font-size: 2.4rem;
        height: 3%;
        border-radius: 50%;
        padding: 0.5em;
    }
    .years{
        font-size: 2.5rem;
    }
    .experience{
        font-size: 1.1rem;
    }
}