*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Colors: */
    --white-color:#fff;
    --black-color: #0a0600;
    --grey-color-dark: #333333;
    --gold-color: #bf925b;
    --gold-color-dark: #b78649;
    --beige-color: #ebe8de;
    --main-background: #eae8de;
    
    /* Fonts: */
    --headlines: 'Barlow Semi Condensed', sans-serif;
}
html,
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    min-height:100vh; 
    display:flex; 
    flex-direction:column; 
    justify-content:space-between;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    display: flex;
    position: fixed;
    width: 100vw;
    align-items: center;
    background-color: var(--black-color);
    height: 4em;
    top: 0;
    z-index: 2;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--grey-color-dark);
    height: 2.5em;
    outline: 2px dashed var(--grey-color-dark);
    outline-offset: 0.44em;
    margin-bottom: 0.4em;
    width: 100%;
}
.logo{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--headlines);
} 
.logo-home{
    color: var(--white-color);
}
.btn-hamburger{
    justify-content: flex-end;
    color: #86817f;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    display: none;
    visibility: hidden;
    opacity: 0;
}
.menu{
    display: flex;
}
.main-nav{
    display: flex;
    gap: 1.4em;
}
.nav-item{
    gap: 10em;
}
.nav-link{
    color: var(--white-color);
   
}
.nav-link:hover{
    color: var(--gold-color);
   
}
main{
    flex: 1;
    background-color: var(--main-background);
}
.banner-container{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.banner-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url(/src/img/barbershop.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    filter: brightness(35%);
}

.banner-text-content {
    position: relative;
    margin-top: 15em;
    margin-left: 1em;
}
.title-banner{
    font-family: var(--headlines);
    color: var(--gold-color);
    font-size: 1.36rem;
    text-transform: uppercase;
}
.banner-headline{
    font-family: var(--headlines);
    color: var(--white-color);
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    margin-bottom: 0.4em;
}
.banner-headline > span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
.banner-text{
    color: var(--white-color);
    position: absolute;
    align-items:center;
    justify-content: center;
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 1.5em;
}
.banner-link-container{
    margin-top: 12em;
}
.banner-link{
    color: var(--gold-color);;
    font-size: 0.98rem;
    border: 2px solid var(--gold-color);
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.3em;
}

.box1,
.box3{
    display: flex;
    flex-direction: column;
    height: 24.5em;
    background-color: var(--gold-color);
    align-items: center;
    text-align: center;
    justify-content: center;
}
.box2,
.box4{
    display: flex;
    flex-direction: column;
    height: 24.5em;
    background-color: var(--gold-color-dark);
    align-items: center;
    text-align: center;
    justify-content: center;
}
.box1-title,
.box2-title,
.box3-title
.box4-title{
    text-transform: uppercase;
    font-family: var(--headlines);
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
    line-height: 2em;
    max-width: 90%;
}
.box1-text,
.box2-text,
.box3-text
.box4-text{
    color: var(--white-color);
    line-height: 2em;
    max-width: 90%;
}
.img-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 48em;
    gap: 15em;
}
.barber-img1,
.barber-img2,
.barber-img3,
.barber-img4{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.about-container{
  display: grid;
  grid-template-rows: 40% 40%;
  max-width: 90%;
  max-height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  flex-wrap: nowrap;
}
.image-about-container {
    /* object-fit: cover; */
}
.img-about{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.about-title{
    font-family: var(--headlines);
    color: var(--gold-color);
    font-weight: 600;
    text-transform: uppercase;
    gap: 2em;
}
.about-subtitle{
    font-weight: var(--headlines);
    color: var(--grey-color-dark);
    font-size: 1.2rem;
    text-transform:uppercase;
    font-weight: 700;
}
.about-text{
    margin-bottom: 3em;
}
.about-calender-container{
    display: flex;
    flex-direction: row;
    background-color: var(--gold-color);
    gap: 1em;
    width: 70%;
    padding: 1em;
    align-items: center;
}
.fa-calendar{
    font-size: 2.1rem;
    background-color: #b6b5b4;
    height: 3%;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0.5em;
}
.calender-text {
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 600;
}
.years{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1em;
}
.experience{
    line-height: 1.2em;
    display: block;
    line-height: 0.5em;
}

 footer{
     bottom: 0;
     width: 100%;
     background-color: var(--black-color);

} 
.icon-container{
    color: var(--white-color);
    display: grid;
    grid-template-columns: repeat(3, 8%);
    margin: 0 0 0.7em 1em;
    padding-top: 1em;
    gap: 1.2em;
}
.fa-twitter,
.fa-facebook,
.fa-instagram{
    color: var(--white-color);
    background-color: #be925b;
    font-size: 1.3em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    color: var(--white-color);
    border-radius: 0.8em; 
}
.footer-grid-container{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0 1em;
    padding-bottom: 2em;
}
.footer-grid-container h3{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--headlines);
    color: var(--white-color);
    line-height: 4em;
}
.footer-info li{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
    align-items: center;
    color: #b6b5b4;
    line-height: 2.2em;
    grid-gap: 0.5em;
}
.fa-angle-right{
    font-size: 1.4rem;
    font-weight: 900;
}
.icon-list li{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    line-height: 2em;
}
.fa-map,
.fa-phone,
.fa-paper-plane{
    color: var(--gold-color);
}
.icon-text{
    color: #b6b5b4;
}

/* DESKTOP */
.footer-desktop-barbershop {
    color:#86817f;
    display: none;
    visibility: hidden;
 }

@media screen and (max-width:740px){
    .nav-container{
        padding: 0 1em;
        justify-content: space-between;
    }
    .btn-hamburger{
        position: relative;
        visibility: visible;
        display: flex;
        opacity: 1;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
    }
     .menu {
        position: absolute;
        display: none;
        opacity: 0;
        visibility: hidden;
        background-color: #1e1e1e;
        top: 70%;
        right: 0;
    }
  
    .main-nav{
        flex-direction: column;
        padding: 16px 30px;
        background-color: var(--grey-color-dark);
    }
    .nav-link{
        font-size: 1.2rem;
    }
    .btn-hamburger.menu-open + .menu {
        display: block;
        opacity: 1;
        visibility: visible;
        cursor: pointer;
      } 
}

@media screen and (min-width: 740px)
{
    .service-container{
        flex-direction: row;
    }
    .img-container{
        flex-direction: row;
        left: 0;
        gap: 6em;
        top: 46em;
        justify-content: space-evenly;
    }
    .about-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
      }
      /* FOOTER */
      .icon-container{
        width: 400px;
        margin: 0 5em;
    }
      .footer-grid-container{
        grid-template-columns: repeat(4, auto);
        gap: 4em;
        max-width: 1000px;
        margin: auto;
    }
    .footer-desktop-barbershop{
       color:#86817f;
       visibility: visible;
       display: block;
    }
}