*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#fff;
    --black-color: #0000018b;
    --main-background: #eae8de;
    --orange: #bf915c;

}
html,
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0fr 1fr 1fr ;
    grid-template-areas:
        "header header header header"
        "main main main main"
        /* "hero-container hero-container hero-container hero-container" */
        "footer footer footer footer";
}
header{
    display: grid;
    grid-area: header;
    position: fixed;
    width: 100vw;
    align-items: center;
    background-color: var(--black-color);
    grid-column: 1 / 5;
    height: 4em;
    top: 0;
    z-index: 2;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1e1e1e;
    height: 2.5em;
    outline: 2px dashed #1e1e1e;
    outline-offset: 0.44em;
    margin-bottom: 0.4em;
}
.logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    grid-column: 1 / 3;
} 
.logo-home{
    color: var(--white-color);
    text-decoration: none;
}
.btn-hamburger{
    justify-content: flex-end;
    color: #86817f;
    text-transform: uppercase;
    grid-column: 4 / 5;
    display: none;
    visibility: hidden;
    opacity: 0;
}
.menu{
    display: flex;
}

.main-nav{
    display: flex;
    gap: 1.4em;
}
.nav-item{
    grid-template-rows: repeat(8, 200px);
    list-style-type: none;
    gap: 10em;
}
.nav-link{
    color: var(--white-color);
    text-decoration: none;
   
}
.nav-link:hover{
    color: var(--orange);
   
}

main{
    grid-area: main;
    background-color: var(--main-background);
    /* top: 0%; */
}
.hero-container{
    /* grid-area: hero-container; */
    top: 0;
    position: relative;
    /* display: flex;
   position: relative; 
    /* width: 100%; */
    /* margin-bottom: 3em; */
    /* height: 100vh; */
}
.hero-container::before{
    content: "";
    position: absolute;
    top: 0;
    /* width: 100%; */
    height: 100%;
    /* height: 60vh; */
    /* background-image: url(/src/img/barbershop.jpg); */
    /* object-fit: cover; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.hero-container > img{
    width: 100%;
    /* height: 50%; */
    object-fit: cover;
    object-position: center;
    background: no-repeat;
    position: absolute;
    /* z-index: -1; */
}

/* .hero-container{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
} */
/* .hero-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/src/img/barbershop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
} */
.hero{
    display: flex;
    position: absolute;
}
.title-hero{
    /* position: absolute; */
    /* margin-bottom: 10em; */
    /* position: absolute; */
    color: var(--white-color);
}
/* .hero-img{
    width: 100%;
    height: 50vh;
    background-image: url(/src/img/barbershop.jpg);
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    /* position: relative;
    object-fit: cover;
} */

footer{
    grid-area: footer;
    color: var(--white-color);
    background-color: var(--black-color);
    bottom: 0;
    height: 10em;
}

@media screen and (max-width:740px){
    .nav-container{
        padding: 0 1em;
        justify-content: space-between;
    }
    .btn-hamburger{
        position: relative;
        visibility: visible;
        display: flex;
        opacity: 1;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
    }
     .menu {
        position: absolute;
        display: none;
        opacity: 0;
        visibility: hidden;
        background-color: #1e1e1e;
        top: 70%;
        right: 0;
    }
  
    .main-nav{
        flex-direction: column;
        padding: 16px 30px;
        background-color: #1e1e1e;
    }
    .nav-link{
        font-size: 1.2rem;
    }
    .btn-hamburger.menu-open + .menu {
        display: block;
        opacity: 1;
        visibility: visible;
        cursor: pointer;
      } 
    
}

@media screen and (max-width: 400px){
    /* .hero-container{
        top: 0;
        height: 100vh;
    } */
    .hero-container > img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
}