*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#fff;
    --black-color: #000001;
    --main-background: #eae8de;
    --orange: #bf915c;

}
html,
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    display: grid;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns:  1fr;
    grid-template-rows: 4em 1fr 10em;
    grid-template-areas:
        "header"
        "main "
        "footer";
}
header{
    display: grid;
    grid-area: header;
    align-items: center;
    background-color: var(--black-color);
    grid-column: 1 / 5;
    height: 4em;
    top: 0em;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1e1e1e;
    height: 2.5em;
    outline: 2px dashed #1e1e1e;
    outline-offset: 0.44em;
    margin-bottom: 0.4em;
}
.logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    grid-column: 1 / 3;
} 
.logo-home{
    color: var(--white-color);
    text-decoration: none;
}
#btn-menu{
    justify-content: flex-end;
    color: #86817f;
    text-transform: uppercase;
    grid-column: 4 / 5;
}
.main-nav{
    display: flex;
    gap: 1.4em;
}
.nav-item{
    grid-template-rows: repeat(8, 200px);
    list-style-type: none;
    gap: 10em;
}
.nav-link{
    color: var(--white-color);
    text-decoration: none;
   
}
.nav-link:hover{
    color: var(--orange);
   
}
main{
    grid-area: main;
    background-color: var(--main-background);
}

footer{
    grid-area: footer;
    color: var(--white-color);
    background-color: var(--black-color);
}